* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.CodeMirror,
.display {
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 50%;
  height: calc(100% - 40px);
}

.codeMirror {
  left: 0;
}

.display {
  right: 0;
  border: none;
}

.title {
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  overflow: hidden;
  top: 0;
  line-height: 40px;
}

h1 {
  margin: 0;
  float: left;
  font-size: 20px;
  padding-left: 10px;
  width: 50%;
  font-weight: 300;
  background: #05161A;
  color: rgba(255, 255, 255, .8);
}

.title span {
  float: right;
  width: 50%;
  font-size: 20px;
  padding-left: 10px;
  background: rgba(0, 0, 0, .1);
  font-weight: 300;
}

.deploy-btn {
  transition: all 200ms ease-in;
  position: absolute;
  background: #26a69a;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  top: 5px;
  right: 5px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 3px;
  text-transform: uppercase;
  border: none;
}

.deploy-btn:hover,
.deploy-btn:focus {
  background: #2bbbad;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 3;
}

.overlay_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -175px;
  width: 350px;
  height: 160px;
  border: 1px solid;
  background: white;
  padding: 40px;
}

.overlay_close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
